@import './cabecalho.css';
@import './menu.css';
@import './conteudo.css';
@import './btnhamburguer.css';
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}



/* Conteudo */
#btn{
    display: none;
}
.imageCity{
    
    width: 580px;
    height: 255px;
    transform: translate(36px, -8px);
    clip-path: polygon(38% 0, 100% 0%, 100% 100%, 0% 100%);
    z-index: 0;
    background: url('../imagem/citywat.jpg');
}


